@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: proxima-nova, sans-serif;
        font-weight: 500;
        font-style: normal;
        @apply bg-ghost text-raisin;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: proxima-nova, sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .input-field > label {
        @apply block;
        @apply text-current opacity-80;
    }

    .input-field > input, .input-field > textarea, .input-field > select, .input-field > .input-wrapper {
        @apply block w-full p-2 border-2 border-yonder/30 rounded-md focus:outline-none focus:border-indigo-500/30 focus:bg-cerulean/5 bg-inherit;
    }

    .input-error input, .input-error textarea, .input-error select {
        @apply border-red-400 focus:border-red-500;
    }

    button {
        @apply focus:outline-none;
    }

    button:disabled {
        @apply cursor-not-allowed opacity-50;
    }
}


@layer utilities {
    .btn-base {
        @apply font-bold py-2 px-4 rounded;
    }
}

@layer components {
    .btn-primary {
        @apply btn-base bg-indigo-500 text-white hover:bg-indigo-700;
    }

    .btn-red {
        @apply btn-base bg-red-500 text-white hover:bg-red-700;
    }
}
